*{
  font-family: 'Pretendard'; 
}


html, body, section, h1,h2,h3,h4, p,a{
  margin:0;
}


:root{
  --BETA-PINK: #ffe6f3;
  --BETA-BROWN: #bda17e;
  --BETA-LIGHTBROWN: #e1c59e;
  --BETA-GRAY: #353636;
}

::-webkit-scrollbar {
  display: none;
}
html{
  scroll-behavior: smooth;
}
html,body {
      position: relative;
      height: 100%;
    }

    body {
      background-color: white;
      transition: background-color 0.5s ease;

      font-family: 'Pretendard';
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
      padding-top: 2.5rem;
      overflow-x: hidden;
    }
    body.nonav{
      padding: 0;
    }
    body::selection{
      background-color: var(--BETA-LIGHTBROWN);
    }

    /* 배경 이미지용*/
    body.main {
      background-image: url("../img/main_bg.mp4");
      background-size: cover;
      background-position: center;
    }
    #main_bg{
      position: absolute;
      top: -2.5rem;
      z-index: -1;
      width:100%;
    }

    body.graybg{
      background-color: var(--BETA-GRAY);
      color: var(--BETA-PINK);
    }

    body.message {
      background-color: var(--BETA-LIGHTBROWN);
      transition: background-color 0.8s ease;
    }



    h1{font-size:2.8rem; margin: 0; 
      word-break: keep-all; font-weight: normal;}    
    h2{font-size:2rem; font-weight: normal; word-break: keep-all;
      line-height: 2.3rem; margin-top:0.5rem;}
    .enh2{font-family: 'darker-grotesque'; font-size:2.1rem; line-height: 2.0rem;}
    h3{font-size:1rem; font-weight: normal; word-break: keep-all;}
    p{display: inline-box;
      font-size: 1rem; line-height: 1.7rem; word-break: keep-all;}

    .p_narrow{font-family: 'darker-grotesque';
      font-size: 1.3rem;
      line-height: 1.5rem;}


    .ko{
      font-family: 'Pretendard';
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .komini{
      font-family: 'Pretendard';
      font-size: 0.8rem;
      line-height: 1.5em;
    }
    .kobig{
      font-family: 'Pretendard';
      font-size: 3rem;
      line-height: 3.2rem;
    }
    .koname{
      font-family: 'Pretendard';
      font-size: 2.7rem;
      line-height: 2.2rem;
      margin-bottom: 0.7rem;
    }
    
    .en{
      font-family: 'darker-grotesque';
      font-size: 1.3rem;
      line-height: 1.7rem;
      margin-bottom: 1rem;
    }
    .enmini{
      font-family: 'darker-grotesque';
      font-size: 0.8rem;
      line-height: 1.0rem;
      margin-bottom: 20px;
    }
    .enbig{
      font-family: 'darker-grotesque';
      font-size: 1.5rem;
      line-height: 2.2rem;
      letter-spacing: 0.03rem;
    }
    .entitle{
      font-family: 'darker-grotesque';
      font-size: 3rem;
      line-height: 3.2rem;
    }
    .flex_column .entitle{
      line-height: 2.2rem;
    }
    

    .ABAP{
      font-size: 10vw;
      line-height: 10vw;
    }

    .bold{
      font-weight: bold;
    }

    a{text-decoration: none; color: black;}


    .bottomM{
      margin-bottom: 5rem;
    }
    .tum{
      height:80px;
    }
    .tum-50{
      height:50px;
    }

    .tum-20{
      height:20px;
    }

    .wrap{
      width:70%; 
      margin: 0 auto;
      position: relative;
    }
    .flex{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .flex_designer{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 5%;
    }
    .flex_designer_thumb{
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 2%;
    }

    .flex_column{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    #linkbox{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
    }
    .linkbox-in{
      display: flex;
      flex-direction: column;
      align-items: center; /* ← 추가: 자식 요소들이 가로 방향으로 가운데 정렬되어 p가 늘어나지 않음 */
      /* column 정렬 flex를 사용하면 상하요소가 자동으로 너비 strech적용됨. */
    }

    .flexitem-3{
      width: 27%;
    }
    .flexitem-6{
      width: 58%;
    }
    .flexitem-half{
      width:48%;
    }
    .grid_credit{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
      row-gap:  4rem;
    }

    .grid_text{
      display: grid;
      grid-template-columns: 40% 60%;
      column-gap: 3rem;
      row-gap:50px;
    }

    .grid_container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 10px;
      row-gap: 25px;
    }

     .program-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 6rem;
      row-gap: 25px;
    }
    .program_box{
      width: 30%;
    }
    .program_box2{
      height: 40vh;
    }

    .grid_designer_detail{
      display: grid;
      width: 50%;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
      padding-top: 3rem;
    }

    .grid_item{
      color: var(--BETA-PINK);
    }
    .work_grid_item{
      color: var(--BETA-PINK);
      text-align: center;
      margin-bottom: 0.7rem;
    }
    .work_textbox{
      padding-top: 0.5rem;
    }

    .grid_img{
      display: block;
      width:100%;
      backface-visibility: hidden; /* 깜빡임 방지 */
      will-change: transform, filter;
      transition: transform .28s cubic-bezier(.2,.8,.2,1), filter .28s;
      transform-origin: center center;
      /* 약간의 3D 가속 트릭 */
      transform: translateZ(0);
    }

    .grid_img:hover,
    .grid_img:focus-within {
      transform: scale(1.02); 
    }

    

    .t-center{
      text-align: center;
    }
    .t-left{
      text-align: left;
    }
    .t-right{
      text-align: right;
    }

    .t-white{
      color:white;
    }
    .t-pink{
      color: var(--BETA-PINK);
    }
    .t-gray{
      color: var(--BETA-GRAY);
    }
    .t-brown{
      color: var(--BETA-BROWN);
    }
    .t-pinkback{
      display: inline-block;
      background-color: var(--BETA-PINK); display: inline;
      color: var(--BETA-GRAY);
      padding: 0.1rem;
    }
    .t-brownback{
      background-color: var(--BETA-BROWN); display: inline;
      color: var(--BETA-PINK);
    }
    .BTtext{
      display: inline-block;
      padding: 0.2rem 0.5rem;
      border: 0.08rem solid var(--BETA-PINK);
      border-radius: 2rem;      /* 글자색 */
    }


    .b-pink{
      background-color: var(--BETA-PINK);
    }

    .blur{
      backdrop-filter:blur(10px);
    }

    .bg-pink{
      background-color: var(--BETA-PINK);
    }
    .bg-gray{
      background-color: var(--BETA-GRAY);
    }
    .bg-black{
      background-color: black;
    }
    .bg-white{
      background-color: white;
      color: black;
    }



    .crossA{
      top: -3rem;
      left: -10rem;
    }
    .crossB{
      top: -3rem;
      right: -10rem;
    }

    .crossC{
      bottom: -3rem;
      left: -10rem;
    }
    .crossD{
      bottom: -3rem;
      right: -10rem;
    }


    .cross {
      position: absolute;
      width: 1.6rem;   /* 전체 크기 */
      height: 1.6rem;
    }

    .bar {
      position: absolute;
      background-color: var(--BETA-PINK); /* 막대 색상 */
    }

    .bar.horizontal {
      top: 50%;
      left: 0;
      width: 100%;
      height: 0.15rem;   /* 선 굵기 */
      transform: translateY(-50%);
    }

    .bar.vertical {
      top: 0;
      left: 50%;
      width: 0.15rem;    /* 선 굵기 */
      height: 100%;
      transform: translateX(-50%);
    }



    video{
      display:block;
      width:100%; height: auto;
    }
    #cover_motion_poster{
      display: block; /*inline-block으로 할 경우 inline-height만큼의 여백이 생김.NG*/
      width:100vw; height: auto;
    }


    #text_explain_z{
      position: absolute;
      width:70vw;
      top: 160%; left: 50%;            /* 가로 중앙 */
      transform: translate(-50%, 0%);
    }


    #nav{
      position: fixed; top:0; left:0; z-index: 5; 
      width: 100%; text-align: right;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      }


    .hiddenobj{display: none;}
    .menu{
      font-size:1.7rem; padding:30px; cursor:pointer;
      position: relative;
      font-family: 'darker-grotesque';}
    .menu::after{
      content: "";
      position: absolute;
      left: 30px; /* 텍스트 패딩에 맞춰 조정 */
      bottom: 15px; /* 텍스트 아래로 밑줄 */
      width: calc(100% - 60px); /* 전체 너비에서 padding 제외 */
      height: 3px;
      background-color: var(--BETA-PINK);
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }
    .menu:hover::after{
      transform: scaleX(1);
    }
    .menu.selected::after {
      transform: scaleX(1); /* 항상 보이도록 */
    }


    .nav_img{height:3rem;}

    #scrollTopBT{
      width:40px;
      position: fixed; bottom:50px; right:50px; z-index: 50;
      cursor:pointer;
    }


    #prevBT{
      position:fixed; top:50px; left:50px; z-index:5;
      cursor:pointer;
    }
    #prevBTimg{
      height:40px;
    }


    .paper-chapter{
      width:100vw;  
      position:absolute; top: 13vh;
      display: flex; align-content: center;}

    

    #mainlogo_box{
      position:relative;
    }
    .logo{width:90%; display: inline-block;}
    #maintext{position: absolute;
      top: 50%;            /* 부모 기준 수직 중앙 */
      left: 50%;           /* 부모 기준 수평 중앙 */
      transform: translate(-50%, -50%);
      z-index:5;
      }

    .logoimg{width: 100%;}
    .imglink{
      height:3.5rem; padding: 1rem;
    }

    #video_box{
      position: relative;
      height: 6rem;
    }
    #dot_bt{
      position: absolute;
      top: 0%; left: 50%;
      display: inline-block;
      width:50px; height:auto;
      padding: 25px 0px;
      cursor: pointer;
      animation: bounce 2s infinite ease-in-out;
    }
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translate(-50%, -50%);   /* 원위치 */
        }
        40% {
          transform: translate(-50%, 70%); /* 위로 튀어오름 */
        }
        60% {
          transform: translate(-50%, -20%);  /* 반동 */
        }
      }

      #teaser_video{
        padding: 2rem;
      }
      .wrap-video{
        width:70%; margin: auto;
      }

      
      #motion_poster{
        height:90vh;
      }
      #main-section-c-1{
        position: relative;
      }
      #main-section-c-2{
        position: relative;
      }
      #program-section-a{
        position: relative;
      }

      #comingsoon-section-b {
        position: relative;
        padding: 1rem;  
      }

      #down{
        width:5em; height:auto;
        position: fixed;
        bottom: 5%; left: 50%;
        animation: bounce 2s infinite ease-in-out;
      }
      @keyframes bounce {
          0%, 20%, 50%, 80%, 100% {
            transform: translate(-50%, 0);   /* 가로 중앙 유지 */
          }
          40% {
            transform: translate(-50%, -12px); /* 가로 중앙 + 위로 튀어오름 */
          }
          60% {
            transform: translate(-50%, -6px);  /* 가로 중앙 + 반동 */
          }
        }



    .youtube_link{
      width:100%; height:80vh;
    }

    .thumb_work_link{
    position: relative;
    display: inline-block;
    width:95%;
    
  }

  .thumb_work{
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    position: relative; /* z-index 작동을 위해 필요 */
    z-index: 1;
  }

  .thumb_work_link:hover .thumb_work{
    transform: scale(1.02);
  }

    .thumb_title {
      position: absolute;
      display: inline-block;
      top: 100%;                /* 세로 중앙 */
      left: 50%;               /* 가로 중앙 */
      transform: translate(-50%, 0); /* 중앙 정렬 */
      padding: 8px 12px;
      color: var(--BETA-PINK);
      font-size: 1rem;
      white-space: nowrap;
      opacity: 0;             
      transition: opacity 0.4s ease;
      z-index:3;
    }
    .thumb_work_link:hover .thumb_title{
      opacity: 1;
    }
    .thumb_designer{width:25%; height:auto; aspect-ratio: 1 / 1;}
    .flex_info{width: 75%; margin: 0;
    display: flex;
    flex-direction: column;}
    

    .img_interview{width:100%; height:auto;}
    .fullimg{
      display: inline-block;
      width: 100%;
    }

    #floorBTBox{
      display: block;
    }
   

    .workBT{
      margin: 0.6rem; display: inline-block;
      font-size: 1.2rem; background-color:var(--BETA-PINK); padding:0.3rem 1rem; 
      border-radius: 1.5rem;
      outline: 1px solid var(--BETA-PINK); /* 윤곽선 */
      outline-offset: 0.3rem;
      position: relative; top: 0px; left:0px; z-index: 3;
      cursor:pointer;
      } 
    .workBT:hover{
        animation: jump 1s ease;
        animation-iteration-count: infinite
      }
    .checkedBT{
      background-color:var(--BETA-BROWN);
      outline: 1px solid var(--BETA-BROWN);
    }

      @keyframes jump {
        0%   { transform: translateY(0); }
        40%  { transform: translateY(-7px); }
        60%  { transform: translateY(-7px); }
        100% { transform: translateY(0); }
      }


    #work_album_view{
      display: none; 
    }

    .work_thumb{
      width:25px; position: absolute; z-index: 3;
      display: block;
    }

    .bg_work{
      width:100%;
      height: auto; z-index: 1; position: static;
      left:0;}

    .work_dot{
      position: absolute;
      transform: translate(-50%, -50%);
      width: 3%;         
      aspect-ratio: 1/1;
      display:inline-block;
      background-color: none;
      vertical-align:middle;
      z-index: 300;
    }

    #work_popup{
      position:fixed;
      display:none;
      pointer-events:none;
      max-width:350px;
      z-index: 100;
    }

    #popup-img{
      width: 350px; height: auto;
      z-index:100;
    }
    #work_text_popup{
      position: absolute;
      top: 12%; left:50%;
      transform: translate(-50%, 0%);
      z-index:300;
    }
    #popup-title{
      display: inline-block;
      text-align: center;
      font-size: 2.5rem;
      line-height: 2.6rem;
      padding: 0.4rem;
      margin-bottom: 0.3rem;
    }

    #popup-msg{
      position: absolute;
      top: 16%; left:50%;
      transform: translate(-50%, 0%);
    }

    
    .box{
      width:70%; height:100%; margin:auto; padding:0;
    }

    .booth_layout{
      width:100%;
      margin: 0; padding:0; display: block;
      position: relative;
    }
    #booth_layout_1{
      display: none;
    }
    #booth_layout_2{
      display: none;
    }
    #booth_layout_3{
      display: block;
    }

    .work_grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 1rem;
      column-gap: 2%;
    }

    /*3층 좌표*/
    #work_69{
      top:60.68%; left: 74.33%;
    }
    #work_68{
      top:54.14%; left: 73.56%;
    }
    #work_33{
      top:48.33%; left: 73.11%;
    }
    #work_32{
      top:42.7%; left: 71.78%;
    }
    #work_53{
      top:36.34%; left: 71.89%;
    }
    #work_52{
      top:30.16%; left: 71.22%;
    }
    #work_27{
       top:24.71%; left: 70.78%;
    }
    #work_26{
       top:18.36%; left: 69.44%;
    }
    #work_37{
       top:12.36%; left: 69.33%;
    }
    #work_36{
       top:14.36%; left: 63.78%;
    }
    #work_71{
       top:20.36%; left: 64.33%;
    }
    #work_70{
       top:25.8%; left: 65.22%;
    }
    #work_19{
       top:32.16%; left: 65.78%;
    }
    #work_18{
       top:37.25%; left: 66.89%;
    }
    #work_97{
       top:43.88%; left: 66.89%;
    }
    #work_96{
       top:49.69%; left: 67.67%;
    }
    #work_63{
       top:56.41%; left: 67.89%;
    }
    #work_62{
       top:61.5%; left: 68.89%;
    }

    #work_122{
       top:14.09%; left: 54.67%;
    }
    #work_123{
       top:20.26%; left: 54.67%;
    }
    #work_76{
       top:26.26%; left: 54.22%;
    }
    #work_77{
       top:32.62%; left: 54.89%;
    }
    #work_78{
       top:37.88%; left: 54.78%;
    }
    #work_79{
       top:43.7%; left: 54.89%;
    }

    #work_39{
        top:74.03%; left: 41.11%;
    }
    #work_93{
       top:73.12%; left: 30.67%;
    }

    #work_80{
       top:60.32%; left: 48%;
    }
    #work_81{
      top:60.04%; left: 44.11%;
    }
    #work_54{
      top:59.86%; left: 39%;
    }
    #work_55{
      top:60.59%; left: 34.11%;
    }
    #work_38{
      top:60.23%; left: 30.11%;
    }
    #work_92{
      top:60.95%; left: 24.89%;
    }

    #work_75{
      top:38.43%; left: 21.78%;
    }
    #work_67{
      top:7.37%; left: 39.78%;
    }

    #work_74{
      top:53.14%; left: 24.67%;
    }
    #work_66{
      top:52.6%; left: 30.22%;
    }
    #work_110{
      top:52.6%; left: 34.44%;
    }
    #work_111{
      top:52.78%; left: 38.11%;
    }
    #work_126{
      top:53.5%; left: 43.44%;
    }
    #work_127{
      top:53.14%; left: 49.11%;
    }

    #work_108{
      top:43.24%; left: 47.89%;
    }
    #work_109{
      top:37.16%; left: 47.11%;
    }
    #work_104{
      top:31.53%; left: 48%;
    }
    #work_105{
      top:25.71%; left: 48.56%;
    }
    #work_138{
      top:19.54%; left: 48.56%;
    }
    #work_139{
      top:13.36%; left: 47.22%;
    }

    #work_114{
      top:26.8%; left: 34%;
    }
    #work_115{
      top:32.98%; left: 35%;
    }



    /*2층 좌표*/
    #work_25{
      top:62%; left: 73.89%;
    }
    #work_6{
      top:62%; left: 78.67%;
    }
    #work_107{
      top:62%; left: 84%;
    }
    #work_24{
      top:70%; left: 73.89%;
    }
    #work_5{
      top:70%; left: 78.67%;
    }
    #work_106{
      top:70%; left: 84%;
    }

    #work_121{
      top:48.05%; left: 85%;
    }
    #work_103{
      top:41.91%; left: 85%;
    }
    #work_61{
      top:35.02%; left: 85%;
    }
    #work_17{
      top:29.25%; left: 85%;
    }
    #work_120{
      top:48.05%; left: 91%;
    }
    #work_102{
      top:41.91%; left: 91%;
    }
    #work_60{
      top:35.02%; left: 91%;
    }
    #work_16{
      top:29.25%; left: 91%;
    }

    #work_129{
      top:19%; left: 73.89%;
    }
    #work_117{
      top:19%; left: 78.67%;
    }
    #work_133{
      top:19%; left: 84%;
    }
    #work_128{
      top:10%; left: 73.89%;
    }
    #work_116{
      top:10%; left: 78.67%;
    }
    #work_132{
      top:10%; left: 84%;
    }

    #work_50{
      top:32.79%; left: 68%;
    }
    #work_140{
      top:40.05%; left: 68%;
    }
    #work_142{
      top:46.01%; left: 68%;
    }
    #work_51{
      top:32.79%; left: 74%;
    }
    #work_141{
      top:40.05%; left: 74%;
    }
    #work_143{
      top:46.01%; left: 74%;
    }

    /*1층 좌표*/
    #work_23{
      top:53%; left: 40.7%;
    }
    #work_65{
      top:53%; left: 45.33%;
    }
    #work_135{
      top:53%; left: 50.33%;
    }
    #work_99{
      top:53%; left: 55.11%;
    }
    #work_85{
      top:45%; left: 54.89%;
    }
    #work_45{
      top:45%; left: 49.89%;
    }
    #work_113{
      top:45%; left: 45.11%;
    }
    #work_95{
      top:45%; left: 40.44%;
    }
    #work_2{
      top:45%; left: 35.78%;
    }

    #work_1{
      top:34%; left: 35.67%;
    }
    #work_48{
      top:34%; left: 40.11%;
    }
    #work_94{
      top:34%; left: 44.78%;
    }
    #work_118{
      top:34%; left: 49.22%;
    }
    #work_112{
      top:34%; left: 53.78%;
    }
    #work_44{
      top:34%; left: 58.89%;
    }
    #work_84{
      top:34%; left: 63.11%;
    }
    #work_64{
      top:26%; left: 63.56%;
    }
    #work_22{
      top:26%; left: 58.33%;
    }
    #work_28{
      top:26%; left: 54%;
    }
    #work_136{
      top:26%; left: 49.33%;
    }
    #work_137{
      top:26%; left: 45.22%;
    }
    #work_130{
      top:26%; left: 40%;
    }
    #work_131{
      top:26%; left: 35.67%;
    }

    #work_119{
      top:12%; left: 68.56%;
    }
    #work_49{
      top:12%; left: 74.78%;
    }
    #work_57{
      top:12%; left: 82%;
    }
    #work_73{
      top:12%; left: 87.11%;
    }
    #work_47{
      top:12%; left: 93.11%;
    }
    #work_101{
      top:20%; left: 93.11%;
    }
    #work_41{
      top:20%; left: 87.11%;
    }
    #work_59{
      top:20%; left: 82%;
    }
    #work_21{
      top:20%; left: 74.78%;
    }
    #work_125{
      top:20%; left: 68.56%;
    }

    #work_98{
      top:45%; left: 63.33%;
    }
    #work_124{
      top:45%; left: 68.56%;
    }
    #work_20{
      top:45%; left: 73.33%;
    }
    #work_58{
      top:45%; left: 77.67%;
    }
    #work_40{
      top:45%; left: 82.67%;
    }
    #work_100{
      top:45%; left: 86.33%;
    }
    #work_46{
      top:53%; left: 86.33%;
    }
    #work_72{
      top:53%; left: 82.67%;
    }
    #work_56{
      top:53%; left: 77.67%;
    }
    #work_134{
      top:53%; left: 73.33%;
    }
    #work_82{
      top:53%; left: 68.56%;
    }
    #work_83{
      top:53%; left: 63.33%;
    }








    #guestbook-form {
      display: flex;
      flex-direction: row;
      gap: 12px;
      padding: 20px;
      max-width: 100%;
      margin: 0 auto;
    }

    #guestbook-form input,
    #guestbook-form textarea {
      font-size: 1rem;
      padding: 10px 12px;
      border: 1px solid #ccc;
      border-radius: 1.5rem;
      background-color: #fafafa;
      font-family: sans-serif;
      transition: border 0.2s ease, background-color 0.2s ease;
      resize: none;
      height: 1.5rem;
    }

    #guestbook-form input::placeholder,
    #guestbook-form textarea::placeholder{
      line-height: 1.7rem; 
      color: var(--BETA-BROWN);
    }

    #guestbook-form input:focus,
    #guestbook-form textarea:focus {
      border-color: #888;
      background-color: #fff;
      outline: none;
    }

    #nickname {
      width: 10%;
      
    }

    #message {
      width: 80%;
      min-height: 20px;
      max-height: 100px;
      overflow-y: auto;
      line-height: 1.4;
    }

    #guestbook-form button {
      align-self: flex-start;
      width: 10%;
      height: 45px;
      padding: 10px 18px;
      font-size: 0.8rem;
      background-color: var(--BETA-GRAY, #333);
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.2s;
    }

    #guestbook-form button:hover {
      background-color: #555;
    }



      #messages-list {
      list-style: none;
      padding: 0;
      gap: 30px;
      margin-top: 20px;
      column-count: 5;
      column-gap: 15px;
    }

    #messages-list li {
      display: inline-block;
      break-inside: avoid;
      background: var(--BETA-PINK); 
      width: 160px;
      height: 100%;
      padding: 12px 16px;
      margin-bottom: 30px;
      box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
      border: 1px solid var(--BETA-PINK);
      position: relative;
      color: #333;
      transition: transform 0.3s ease;
    }

    #messages-list li:hover {
      transform: rotate(0deg) scale(1.05);
      box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
      cursor: pointer;
    }

    /* 닉네임과 메시지 구분 */
    .message-nickname {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 1.1rem;
    }

    .message-text {
      white-space: pre-wrap;
      word-break: break-word;
      font-size: 1rem;
      line-height: 1.3rem;
    }




/* 모바일용 CSS */
    @media only screen and (max-width: 767px){
      p{font-size: 0.9rem; line-height: 1.6rem; word-break: normal; text-align:justify;}
      .ko{
      font-size: 0.9rem;
      line-height: 1.3rem;
    }
      .en{
        font-family: 'darker-grotesque';
      font-size: 1.05rem;
      line-height: 1.5rem; hyphens: auto; overflow-wrap: break-word;
    }

    .komini{
      font-family: 'Pretendard';
      font-size: 0.7rem;
      line-height: 1.5em;
    }
    .kobig{
      font-family: 'Pretendard';
      font-size: 3rem;
      line-height: 2.2rem;
    }

    .enmini{
      font-family: 'darker-grotesque';
      font-size: 0.7rem;
      line-height: 1.4rem;
      margin-bottom: 20px;
    }
    .enbig{
      font-family: 'darker-grotesque';
      font-size: 1.4rem;
      line-height: 1.4rem;
    }
    .kobibig{
      font-family: 'Pretendard';
      font-size: 1.15rem;
      line-height: 1.4rem;
    }
    .entitle{
      font-family: 'darker-grotesque';
      font-size: 3rem;
      line-height: 2.2rem;
    }
      .wrap{
      width:80%; 
    }
    .bottomM{
      margin-bottom: 3rem;
    }

    section.bg-black .wrap {
      width:100%;
    }
    section.bg-white .wrap {
      width:100%;
    }


  .flex{
    flex-direction: column;
  }
  .flex_designer{
    flex-direction: column;
  }
  .flex_designer_thumb{
    flex-direction: column;
  }
  .flexitem-half{
    width:100%;
  }
  .program_box{
    width:100%;
    margin:3rem;
  }
  .program_box2{
    height: 30vh;
  }
  #down{display: none;   
      }

  .cross {
      position: absolute;
      width: 1rem;   /* 전체 크기 */
      height: 1rem;
    }

  .crossA{
      top: -1.5rem;
      left: -1.5rem;
    }
    .crossB{
      top: -1.5rem;
      right: -1.5rem;
    }

    .crossC{
      bottom: -1.5rem;
      left: -1.5rem;
    }
    .crossD{
      bottom: -1.5rem;
      right: -1.5rem;
    }

      .bar.horizontal {
      height: 0.12rem;   /* 선 굵기 */
    }

    .bar.vertical {
      width: 0.12rem;    /* 선 굵기 */
    }

    .grid_credit{
      column-gap: 3rem;
    }
    
    #en-intro{
      display: none;
    }

    #nav {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    backdrop-filter: blur(6px);
  }

  .menu {
    font-size: 1rem;            /* 글자는 작게 */
    padding: 3px 0.5rem;        /* 터치 대상 확보 (가로/세로) */
    margin: 0 6px;             /* 항목 간 여백 */
    white-space: nowrap;       /* 텍스트 줄바꿈 방지 */
  }

  .mobile-hidden{
    display: none;;
  }

  .youtube_link{
    width:100%; height:auto;
  }
  .wrap-video{
    width:100%;
  }



    /* DESIGNER 탭 */

    .grid_container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10px;
      row-gap: 25px;
    }
    .thumb_designer{
      display:none;
    }
    .flex_info{width: 100%; margin: 0;
    }

    /* WORK 탭 */

    #floor-view{
      display: none;
    }
    #work_album_view{
      display: block;
    }

    .bg_work{
      width: 100%; height: auto;}
    .thumb_work{
      width:100%;
      margin-bottom: 1.5rem;
    }
    .thumb_title {
      top: 95%;
    }

    /* MESSAGE 탭 */

    #guestbook-form{
      flex-direction: column;
      justify-content: center;
    }
    #guestbook-form input,
    #guestbook-form textarea{
      width: 80%;
      margin: auto;
    }

    #guestbook-form input::placeholder,
    #guestbook-form textarea::placeholder{
      text-align: center;
    }

    #guestbook-form button{
      width: 100px;
      border-radius: 1.5rem;
      margin: auto;
    }
  
}